body {
    margin:0;
    overflow: hidden;
    background-color: #333;
    color: #fff;
}

.gameControl{
    text-align: center;
    padding: 60px;
    height: 100%;
}

.gameControl h1{
    font-size: 45px;
    color: #fa0;
}

.gameControl ul{
    margin:0;
    padding: 0;
}
.gameControl li{
    list-style: none;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.gameControl li:hover{
    color: #0aa;
}

.gameContent{
    display: none;
}

#levels{
    display: none;
}

.back{
    color: #aa0;
}

.about{
    margin: auto;
    width: 400px;
    display: none;

}

.control{
    margin: auto;
    display: none;
}

.gameInfo, .inGameControll, .shadow{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.time, .health, .levelDisplay{
    font-size: 30px;
    font-weight: bold;
    color:#FFF;
    float: right;
    margin: 10px 20px;
    position: relative;
    z-index: 10;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.dieScreen, .winScreen{
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 30px;
    top: 100px;
    display: none;
}

.retry:hover, .nextLevel:hover{
    color: #0aa;
}

.shadow{
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 15;
}

.stars{
    margin: 20px auto;
    height: 100px;
}

.star img{
    float: left;
    width: auto;
    max-height: 100%;
}
